<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top"> 
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navvv" id="navbarNavAltMarkup" >
      <div class="navbar-nav"> 

        <div id="website-logo">
          <img src=" https://res.cloudinary.com/dggnnjzgw/image/upload/v1704643012/apna-shop/zlsgexv13vrrykpyggnm.jpg" >
        </div>
       

        <div class="home">
        <a class="nav-link" href="/products"  id="playbutton-5">  <i class="fa-solid fa-house"></i>  &nbsp;   Home    </a> 
        </div>
      
        


      <div class="add"> 
        
        <form   method="post" action="/products/search">
          <div class="search-input">
            <div class="s-i">
          <input type="text" placeholder="search the product"   name="pr"    required> </div> &nbsp;
          <div class="s-b">
          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i> </button>
        </div> </div>
            </form>
            

      </div>

       &nbsp;&nbsp;&nbsp;&nbsp;

      <div class="whishlist">
          <a href="/products/whishlists" id="playbutton-3">     <i class="fa-solid fa-heart"></i>        &nbsp;      Wishlist</a>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp; 

   

      &nbsp;&nbsp;&nbsp;&nbsp;

   
      &nbsp;&nbsp;&nbsp;&nbsp;
      <div class="new-product">
          <a href="/products/new-product" id="playbutton" >  <i class="fa-solid fa-plus"></i> &nbsp;         Add the product</a>
      </div>   
      
      <div class="profile">
        <a href="/products/profile" id="playbutton-2" >    <i class="fa-solid fa-user"></i> </a>
      </div>
       

     </div>
    </div>
  </div> 



</nav>   


