   
         <%layout("/layouts/boilerplate")%>






   <br>
           <h5 class="login-form">Login form :)</h5>







       <form action="/login"  method="POST">
       
        <br><br>

        <lable for="username" class="form-label">   <p class="username">username</p></lable>
        <input type="text" name="username" id="username" class="form-control" required>
 
        <br><br>

        <lable for="password" class="form-label"> <p class="password">Password</p></lable>
        <input type="password" name="password" id="password" class="form-control" required>
       
        <br><br>

        <button class="btn btn-success">login</button>  

       </form> 
      </body> 

      <br>