<%layout("/layouts/boilerplate")%>
 <br><br>
        <form   action="/signup" method="POST"> 
                   
            <lable for="username" class="form-label"> <p class="password">username</p></lable>
            <input type="text" name="username" id="username"  required>
           <div class="valid-feedback">looks good !.</div>
                
           <br><br>

           <lable for="email" class="form-label"> <p class="password">Email</p></lable>
           <input type="email" name="email" id="password" required>

          <br><br>

          <lable for="password" class="form-label"> <p class="password">Password</p> </lable>
          <input type="password" name="password" id="password" required>
          
          <br><br>

          <button  class="btn btn-success">sign up </button>

        </form>   

        <br>

         






      </body>