<%layout("/layouts/boilerplate")%>

<br><br>
    <form   method="post" action="/products/search"        >
   <input type="text" placeholder="search the product"   name="pr"    required>  
   <button type="submit">search</button>
     </form>


    